<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Documentation</title>
    <style>
        body {
    background: #c7b39b url(static/bg.jpg);
    color: #fff;
   }
    </style>
</head>
<body>
<dive class="main_text">
    <br><span style="white-space: pre-line">API Имеет возможность:
1)Подсчет не уникальных посещений
2)Подсчет уникальных посещений

Для подсчета по датам нужно указывать дату в формате -  YYMMDD
serverimportthis.pythonanywhere.com/api?[ваш_запрос]=[значение]

https://serverimportthis.pythonanywhere.com/api
https://serverimportthis.pythonanywhere.com/api?
https://serverimportthis.pythonanywhere.com/api?non_unique_day=191112
https://serverimportthis.pythonanywhere.com/api?non_unique_all
https://serverimportthis.pythonanywhere.com/api?unique=ip
https://serverimportthis.pythonanywhere.com/api?unique=cookie
        </span>
</dive>
</body>
</html>